.post {
    color: var(--color-base-content);
    text-decoration: none;
}

.list-btn:hover {
    border-color: var(--color-base-content);
    cursor: pointer;
}

.list-btn-active {
    color: var(--color-base-100);
    background-color: var(--color-base-content);
}

.list-post:hover {
    border-color: var(--color-base-content);
}